<div class="container">
    <header>
        <div class="imangen" style="background-image: url(../../../../assets/imagenP4/bootstrap.png); background-size: 10%">
            <div class="contenido">
                <div class="letra">
                    <h3 class="display-4 text-white">Practica Bootstrap</h3>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['Page-a']"><img
                                    src="../../../../assets/imagenP4/file-earmark-music-fill.svg" class="img" width="20"
                                    height="20"> Musica</a>
                        </li>
                    </ul>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['Page-b']"><img
                                        src="../../../../assets/imagenP4/cash-coin.svg" class="img" width="20"
                                        height="20">Cotización de divisas</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['Page-c']"><img
                                        src="../../../../assets/imagenP4/signos.svg" class="img" width="20"
                                        height="20">Horoscopo</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['Page1']" target="_blank">Page 1</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>