<div class="container">
    <footer>
        <div>
            Diseñado por Nieva Tatiana Valeria LU:3866 de Prog. y Servicios Web - Tiene todos los derechos                 reservados -2023
            <br><br>
            <a href="https://www.facebook.com/"><img src="../../../../assets/imagenP4/iconoFacebook.png" alt="Bootstrap" width="30" height="30"></a>
            <a href="https://www.instagram.com/"><img src="../../../../assets/imagenP4/iconoInstagram.png" alt="Bootstrap" width="30" height="30"></a>
            <a href="https://twitter.com/"><img src="../../../../assets/imagenP4/iconoTwiter.png" alt="Bootstrap" width="30" height="30"></a>
            <a href="https://whatsapp.com/"><img src="../../../../assets/imagenP4/iconowhatsapp.png"alt="Bootstrap" width="30" height="30"></a>
            <a href="https://youtube.com/"><img src="../../../../assets/imagenP4/iconoYoutube.png" alt="Bootstrap" width="30" height="30"></a>
            <a href="https://mail.google.com/"><img src="../../../../assets/imagenP4/iconoEmail.png" alt="Bootstrap" width="30" height="30"></a>
        </div>
    </footer>
</div>