.horocopo{
    position: relative;
    top: 10px;
    width: 100%; 
    font-family: Arial Rounded MT Bold,serif,sans-serif;
    color: #6e117a;
    font-style: italic;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.24);
}

.signos{
    padding: 1rem; 
    text-align: center;	   
}

.btn-S{
    padding: -2rem; 
    color: white;
    text-align: center;	
    width: 64%; 
    font-size: 33px;
    font-family: Arial Rounded MT Bold,serif,sans-serif;
    background-color: rgb(11, 134, 11);    
}

.tabla{
    text-align: center;
	width: 105%;
	margin-left: 0rem;
	margin-right: 0rem;
	font-family: Arial Rounded MT Bold,serif,sans-serif;
	margin-bottom: 1rem;
}